# Copy to your .env file (PUT YOUR .env ON YOUR .gitignore!!!)

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=conf
DB_POOL_MIN=2
DB_POOL_MAX=10

# Server Configuration
PORT=8080
NODE_ENV=development

FRONTEND_PORT=5173

VITE_API_URL=http://localhost:3000

# The script setup.sh generate a unic value for you
# JWT_SECRET=auto_generate