logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
/plans
.vscode/*
!.vscode/extensions.json
.env
/dist
/sql
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
